In [2]:
from sklearn.datasets import make_classification
import pandas as pd

# Parameters for the dataset
n_samples = 10000  # Number of samples
n_features = 30   # Number of features
n_informative = 10  # Number of informative features
n_redundant = 5   # Number of redundant features
n_classes = 2     # Number of classes (binary classification)

# Generate the dataset
X, y = make_classification(n_samples=n_samples, n_features=n_features, 
                           n_informative=n_informative, n_redundant=n_redundant, 
                           n_classes=n_classes, random_state=42)

# Create a DataFrame
df = pd.DataFrame(X, columns=[f'Feature_{i+1}' for i in range(n_features)])
df['Target'] = y

# Display the first few rows of the DataFrame
df.head()

,Feature_1,Feature_2,Feature_3,Feature_4,Feature_5,Feature_6,Feature_7,Feature_8,Feature_9,Feature_10,...,Feature_22,Feature_23,Feature_24,Feature_25,Feature_26,Feature_27,Feature_28,Feature_29,Feature_30,Target
0,-1.548548,-1.967590,-1.543443,-7.759426,0.281945,1.518130,-1.629019,2.502876,-5.257948,0.130542,...,-5.126638,-0.853585,0.694100,-0.993157,-2.677431,0.046957,1.591267,6.804646,-0.970799,0
1,0.023947,-0.911552,-0.412434,-2.264239,0.954890,0.091053,-3.282056,-2.793642,3.187898,-2.772594,...,-1.690300,0.441649,-2.368368,-1.095345,1.084564,-0.305280,1.144056,8.314450,-0.510100,1
2,-0.986900,1.307730,-1.485558,4.183932,-1.347966,3.007659,1.439120,-4.530770,-3.331696,-0.023972,...,-1.288359,-0.873028,0.033337,0.605749,3.768289,-4.388276,-0.749357,4.765395,-0.700902,1
3,-0.537888,0.505952,-1.444166,-0.586312,0.129561,-3.288543,3.024250,1.361008,-6.803893,0.973548,...,-2.260648,-0.681277,-1.221396,0.234045,1.641811,1.002877,-1.138540,-4.759368,-1.105269,0
4,0.952193,-0.542600,-0.063259,-1.866649,-1.299797,0.671089,0.630795,3.698735,-3.126441,0.766550,...,-1.836453,-1.483299,1.369573,-1.138687,-0.491164,-0.491330,-0.035620,0.876372,1.162903,0

In [3]:
print(X.shape, y.shape)

(10000, 30) (10000,)

In [ ]:
# Create a bechmark XGBoost model
from xgboost import XGBClassifier
from sklearn.model_selection import cross_val_score